

<h1>About Reuknighted</h1>
<p>Reuknighted, a web app that will allow you to create an online library of games owned. You can then "check-in" to allow your followers to see what game you are playing. Giving your friends the option, assuming they own the same game and console, to join you online.</p>

